<div class="spacer"></div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
                <mat-card class="currentOrders">
                        <mat-card-title>Wallet Balance</mat-card-title>
                        <hr>
                        <h1>4000</h1>
                        <mat-card-subtitle>
                                <img mat-card-sm-image src="../../../../assets/wallet.webp" alt="Photo of a Shiba Inu">
                        </mat-card-subtitle>
                    </mat-card>
          
        </div>
        <div class="col-md-3">
                <mat-card class="currentOrders">
                        <mat-card-title>Remaining Balance</mat-card-title>
                        <hr>
                        <h1>2000</h1>
                        <mat-card-subtitle>
                                <img mat-card-sm-image src="../../../../assets/money.jpg" alt="Photo of a Shiba Inu">
                        </mat-card-subtitle>
                    </mat-card>
          
        </div>
    </div>
</div>

