<div class="spacer"></div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <mat-card class="currentOrders">
                <mat-card-title class="mat-title"> Wallet Balance</mat-card-title>
                <br>
                <br>
                <!-- <span class="gap"><mat-icon class = "notification" matBadge="50" matBadgeColor="warn">shopping_basket</mat-icon>
          </span> -->
                <mat-icon class="icon-display" matBadge="50" matBadgeColor="primary">shopping_basket</mat-icon>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="invoices">
                <mat-card-title class="mat-title"> Remaining Balance</mat-card-title>
                <br>
                <br>
                <mat-icon class="icon-display" matBadge="50" matBadgeColor="primary">list_alt</mat-icon>


            </mat-card>
        </div>
    </div>
</div>

<mat-card>
    <mat-card-title>mine</mat-card-title>
    <mat-card-subtitle>
        try
    </mat-card-subtitle>
    <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
</mat-card>