.container {
  margin-top: 5%;
}

mat-form-field {
  width: 95%;
}
.statusmessage{
  margin-bottom: 2%;
  margin-top: 2%;
  text-align: center;
  font-weight: 500;
 
}
form{
  margin-bottom: 5%;
}
 @media screen and (max-width: 800px) {
  
  } 
