<div class="container">
  <div class="row">
    <!-- <div class="spacer"></div> -->

    <div class="col-sm-6">
      <button (click) = "letssee()">letssee</button>
      <mat-form-field
        style="font-size: 13px;"
        floatLabel="auto"
        appearance="outline"
      >
        <!-- <mat-label>Name</mat-label>
                      <input matInput /> -->
        <mat-hint align="end">Min 5 Characters</mat-hint>
        <mat-label>Industry Type</mat-label>
        <mat-select>
          <mat-option>None</mat-option>
          <mat-option value="Angular">Manufacturing</mat-option>
          <mat-option value="React">Oil and Gas</mat-option>
          <mat-option value="Vue">Construction</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="font-size: 13px;" appearance="outline">
        <input
          matInput
          [matDatepicker]="myDatePicker"
          [formControl]="dateCtrl"
        />
        <mat-datepicker-toggle
          [for]="myDatePicker"
          matPrefix
        ></mat-datepicker-toggle>
        <mat-datepicker #myDatePicker></mat-datepicker>
        <mat-error align="end" *ngIf="dateCtrl.hasError('required')">
          A valid date mm/dd/yyyy is required
        </mat-error>
      </mat-form-field>

      <mat-form-field style="font-size: 13px;" appearance="outline">
        <mat-label>Department</mat-label>
        <input style="padding: 0px; margin: 0px;" matInput />
        <mat-hint align="end">Min 5 Characters</mat-hint>
      </mat-form-field>

      <mat-form-field style="font-size: 13px;" appearance="outline">
        <mat-label>Place of Delivery</mat-label>
        <input style="padding: 0px; margin: 0px;" matInput />
        <mat-hint align="end">Min 5 Characters</mat-hint>
      </mat-form-field>

      <mat-form-field style="font-size: 13px;" appearance="outline">
        <mat-label>Terms of Payment</mat-label>
        <textarea matInput></textarea>
        <mat-hint align="end">Min 5 Characters</mat-hint>
      </mat-form-field>

      <mat-form-field style="font-size: 13px;" appearance="outline">
        <mat-label>Billing Address</mat-label>
        <textarea matInput></textarea>
        <mat-hint align="end">Min 5 Characters</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <!-- <mat-form-field style="font-size: 13px;" appearance="outline">
        <mat-label>Receiver Name</mat-label>
        <input style="padding: 0px; margin: 0px;" matInput />
        <mat-hint align="end">Min 5 Characters</mat-hint>
      </mat-form-field> -->
      <mat-form-field>
        <mat-label class="label">Receiver name</mat-label>
<!-- 
        <select [(ngModel)]="selectedItem" (ngModelChange)="onDropDownChange()">
            <option [ngValue]="undefined" disabled selected>Select Item</option>
            <option *ngFor="let item of dataArray" [ngValue]="item?.id">{{item?.name}}</option>
        </select> -->

        <mat-select class="labelinfo" name="receivername" id="test-id" >

            <mat-option *ngFor="let reci of supplierNames" value={{reci}}>
                {{reci.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

      <mat-form-field style="font-size: 13px;" appearance="outline">
        <mat-label>Time of Delivery</mat-label>
        <input style="padding: 0px; margin: 0px;" matInput />
        <mat-hint align="end">Min 5 Characters</mat-hint>
      </mat-form-field>

      <mat-form-field style="font-size: 13px;" appearance="outline">
        <mat-label>Method of Conveyance</mat-label>
        <input style="padding: 0px; margin: 0px;" matInput />
        <mat-hint align="end">Min 5 Characters</mat-hint>
      </mat-form-field>

      <mat-form-field style="font-size: 13px;" appearance="outline">
        <mat-label>Time Period</mat-label>
        <input style="padding: 0px; margin: 0px;" matInput />
        <mat-hint align="end">Min 5 Characters</mat-hint>
      </mat-form-field>

      <mat-form-field style="font-size: 13px;" appearance="outline">
        <mat-label>Terms of Delivery</mat-label>
        <textarea matInput></textarea>
        <mat-hint align="end">Min 5 Characters</mat-hint>
      </mat-form-field>
    </div>
  </div>
</div>
<table>
  <tr>
    <th>
      REF/ISBN CAT.NO
    </th>
    <th>
      Item Name
    </th>
    <th>
      Description
    </th>
    <th>
      Sale Unit(PCS/LTR)
    </th>
    <th>
      Quantity
    </th>
    <th></th>
  </tr>
  <tr>
    <td>
      <mat-form-field style="font-size: 13px;" appearance="outline">
        <input style="padding: 0px; margin: 0px;" matInput />
        <mat-hint align="end">Min 5 Characters</mat-hint>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field style="font-size: 13px;" appearance="outline">
        <input style="padding: 0px; margin: 0px;" matInput />
        <mat-hint align="end">Min 5 Characters</mat-hint>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field style="font-size: 13px;" appearance="outline">
        <input style="padding: 0px; margin: 0px;" matInput />
        <mat-hint align="end">Min 5 Characters</mat-hint>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field style="font-size: 13px;" appearance="outline">
        <input style="padding: 0px; margin: 0px;" matInput />
        <mat-hint align="end">Min 5 Characters</mat-hint>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field style="font-size: 13px;" appearance="outline">
        <textarea matInput></textarea>
        <mat-hint align="end">Min 5 Characters</mat-hint>
      </mat-form-field>
    </td>
    <td><button class="btn-primary btn-sm">+</button></td>
  </tr>
</table>

<button class="btn-primary btn-sm">Save Order</button>
