<app-wallet-header></app-wallet-header>
<!-- <app-walletsnav></app-walletsnav> -->
<form #form="ngForm" class="register" (ngSubmit)=onSubmit(form)>

  <div class="container-fluid">

    <div class="row">
        <div class="col-sm-4"></div>



      <div class="col-sm-4">
        <div class="majorcontent">
          <div class="row">
            <div class="title">
              <p>Login As an Administrator to create a new wallet</p>
              <br>
              <br>
              <p>ADMIN SIGN IN</p>
            </div>
            <hr class="detail">
          </div>

          <div class="main">




              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Enter Your Email</mat-label>
                <input matInput placeholder="Enter Email" name="email" [(ngModel)]="email" required #emails="ngModel"
                  [class.ld-error]="form.submitted && emails.invalid">
              </mat-form-field>

              <div [hidden]="!form.submitted || emails.valid" class="alert alert-danger">
                Please Enter a valid email Address
              </div>


              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Enter Your password</mat-label>
                <input matInput placeholder="password" name="password" type="password" [(ngModel)]=password required
                  #emal="ngModel" [class.ld-error]="form.submitted && emal.invalid">
              </mat-form-field>

              <div [hidden]="!form.submitted || emal.valid" class="alert alert-danger">
                Please Enter a valid password
              </div>



            <div class="row">
              <input id="btnregister" class="registers" type="submit" value="Login"
                class="btn btn-primary btn-block btn-lg" />
            </div>
            <div [hidden]="!form.submitted || wrongCredentials" class="alert alert-danger">
              You cant login with invalid credentials
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>