<app-header></app-header>
<app-buyernav></app-buyernav>
<div class="container">
  <mat-tab-group #tabRef>
    <!-- First Tab -->
    <!-- View Approve Invoices -->
    <mat-tab label="Approve Invoices">
      <div class="container-fluid">
        <app-approve-invoices></app-approve-invoices>
      </div>
    </mat-tab>

    <!-- Second Tab -->
    <!-- View All Invoices-->
    <mat-tab label="All Invoices">
      <div class="container-fluid">
        <app-all-invoices></app-all-invoices>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
