h1 {
  text-align: center;
  padding-top: 0px;
}

#btnSignin {
  margin-top: 50px;
}

#forgotpass {
  margin-top: 50px;
}

/* #backgroundImg {
    height: 100px;
    width: 100px;
  } */

body {
  background-image: url("../../../assets/bg-4.jpg");
  height: 100%;
  /* width: 400px; */
}

.samu {
  background-color: whitesmoke;
  height: 635px;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: -103px;
  padding: 10%;
}
