#bgimage{
  background-image: url("../../../assets/bg-4.jpg");
  min-height:100%
}

.majorcontent{
  margin: 10%;
}
.title {
  margin-top: 20%;
  min-width: 100%;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #1b1899;
  margin-bottom: 10px;
  font-weight: 700;
  font-family: 'Open Sans','PT Sans','HelveticaNeue','Helvetica Neue' !important;
}
hr{
  border-top: none;
  border: 2px solid#ab1e23;
  margin: 0 auto;
  width: 37%;
  margin-bottom: 5px;

}

.subtitle{
  min-width: 100%;
  font-weight: normal;
  text-align: center;
  font-size: 15px;
  color: #666; 
  margin: 10px 0px 15px 0px;
  font-family: 'Open Sans','PT Sans','HelveticaNeue','Helvetica Neue' !important;
}
.register-title{
  

  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.mat-radio-button{
  margin-left: 3%;
}

.mat-form-field{
  width:50%;
  margin-left: 20%;


} 
.label{
  max-width: 100%;
  margin-bottom: 5px;
}


.phone{
  margin-top: 3%;
  margin-left: 3%;
}

.recapture-image{
  padding-left: 22%;
  margin-bottom: 4%;

}
.main{
  margin-top: 5%;
  margin-left: 10%;
  text-align: center;
  margin-bottom: 43%;
}

.main input{
  width: 50%;
  margin-left: 20%;
}








