.spacer{
    margin-top: 5%;
}
mat-tab-group{
    position: absolute;
    width: 100%;
    /* background-color: blueviolet; */
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%);
} */
}
