/* mat-form-field {
  font-size: 14px;
  width: 90%;
}
.container {
  margin-left: 35%;
}

mat-card {
  margin: 40px;
  border: 5px black;
  background-color: rgb(236, 228, 228);
}
#nav { */
  /* margin-top: 10%; */
  /* position: fixed;
  margin-right: 5%;
  background-color: cornsilk;
  font-size: 120%;
  margin-left: 10%;
} */

/* app-header {
    position: fixed;
    width: 100%;
    margin-bottom: 10%;
}
app-buyernav {
    position: fixed;
    width: 100%;
    margin-bottom: 0%;
} */
/* <app-header></app-header>
<app-buyernav></app-buyernav> */



app-sponsornav{
  /* padding-top: 40%; */
  position: fixed;
  width: 100%;
}
.container{
  padding-top: 200px;
}
.navs{
  position: fixed;
  display: block;
  min-height: 100%;
  min-width: 50%;
  background: rgb(197, 190, 190);
  text-transform: uppercase;
  font-weight: 500;   
}
.navs a:hover{
  background-color: blue;
  color:white;
}
mat-label{
  font-size: 120%;
  font-weight: 500;
}
a{ 
  margin-bottom: 3%; 
margin-top: 3%;
}
mat-form-field{
  min-width: 100%;
}
mat-card-title{
  background-color: blue;
  color: white;
  text-align: center;
}
mat-radio-group{
  display: flex;
  justify-content: space-evenly;
} 
.contain{
  padding-top: 110px;
}
.active {
  background-color: rgb(208, 208, 235);
  color: white;
}

@media screen and (max-width: 800px) {
  .container{
    padding-top: 15%;
  }
  }