<app-buyers-dashboard></app-buyers-dashboard>
<div class="container">
    <mat-tab-group #tabRef>
      <!-- First Tab -->
      <!-- View Approve Invoices -->
      <mat-tab label="invoices">
        <div class="container">
          <app-approved-invoices></app-approved-invoices>
        </div>
      </mat-tab>

<!-- 
      <mat-tab label="approve invoices">
        <div class="container">
          <app-create-order></app-create-order>
        </div>
      </mat-tab> -->
    </mat-tab-group>
  </div>
  