.container {
  margin: auto;
  padding-top: 70px;
}

img {
  height: 50px;
  width: 50px;
}

li {
  list-style: none;
  font-weight: bold;
  font-size: 16px;
}

table {
  margin: 70px 0;
  width: 100%;
}

table,
th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  padding: 15px;
}

tr:nth-child(1) {
  background-color: #dddddd;
}

/* input {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 35px;
} */

.btns {
  float: right;
}

.btn {
  height: 45px;
  width: 120px;
  font-size: 20px;
}

#btn1 {
  margin-right: 30px;
}

/* .container {
  margin: auto;
  padding-top: 70px;
}

body {
  background-color: rgb(193, 193, 223);
  padding: 5%;
  height: auto;
}
.container {
  padding: 1%;
  margin-left: 10%;

  background-color: white;
}
h3 {
  color: maroon;
  margin-left: 40%;
}

.col-sm-6 ul {
  color: blue;
}
h4 {
  color: green;
}
hr {
  background-color: black;
}
ul {
  list-style-type: none;
}

table {
  margin: 50px 0;
  width: 100%;
}

.backbutton {
    padding: 1%;
  border-radius: 10%;
  font-weight: 500;
}
.details {
  color: maroon;
  margin-bottom: 5%;
}
.buyerinfo ul {
  color: green;
}

.buyerinfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(232, 232, 255);
}

.orderDate {
  text-align: right;
}
.pdfbutton {
  float: right;
  font-weight: 700;
}
hr {
  border: 2px solid;
  border-radius: 5px;
  background-color: black;
} */
