a{
    color: black;
    font-size: 120%;
    /* padding: 5%; */
   
 }
 .nav{
    /* margin-bottom: 10%; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 0%;
   
 } 
 .spacer{
     margin-bottom: 5%; 

 } 

 /* .nav{
    
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   
   

} */