a{
    color: white;
    font-size: 120%;
    /* padding: 5%; */
   
 }
 .nav{
    /* margin-bottom: 10%; */
    display: flex;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: grey;
    color: white;
   
 } 
 .spacer{
     margin-bottom: 5%; 

 } 

 /* .nav{
    
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   
   

} */