/* a{
    color: white;
    font-size: 120%; */
    /* padding: 5%; */
/*    
 }
 .nav{ */
    /* margin-bottom: 10%; */
    /* display: flex;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: grey;
    color: white;
   
 }  */
 /* .spacer{
     margin-bottom: 5%; 

 }  */

 /* .nav{
    
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   
   

} */
/* .container-fluid{
   padding-top: 250px;
} */

mdb-navbar{
   position: fixed;
   z-index: 2;
   min-width: 100%;
   margin-top: 6%;
   
   font-size: 120%;
   font-weight: 500;
   color: white;
   
   }
   
   /* navbar-nav ml-auto{
      display: flex;
      justify-content: space-evenly;
   
   
   
   } */
   /* navbar-nav {
      display: flex;
      padding: 9px 10px !important;
      justify-content: space-evenly;
   } */
   /* .navbar {
      min-height: 80px;
    } */
    
   
   a{
      padding: 20px;
      margin: 20px;
      color: white;
      font-weight: 500;
      background-color: darkblue;
      margin-left: 20px;
   }
   a:hover{
      background-color: darkcyan;
   
   }
   .nav-link{
      background-color: blue;
   }
   