<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class="extras">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active"><i class="fas fa-home fa-x"></i></a>
    <a class="navbar-brand" href="#"><i class="fas fa-notifications fa-x"></i>Notifications</a>
    <a class="navbar-brand" href="#"> <i class="fas fa-address-book fa-x"></i>
        {{currentUser}}</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <!-- <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="[is-active]">Home</a>                  
            </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/buyer/orders" routerLinkActive="active">Orders<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/buyer/invoices" routerLinkActive="active">Invoices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/buyer/Invitecontacts" routerLinkActive="active">Invite Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/buyer/Vault" routerLinkActive="active">Vault</a>
            </li>

        </ul>
    </div>
</nav>