a{
    color: black;
    font-size: 120%;
 }
 .nav{
    margin-bottom: 10%;
   
 } 
 .spacer{
     margin-bottom: 5%; 

 } 

 .nav{
    
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   
   

}