
<mat-toolbar class="head">
    <span class="gap"><img src="../../assets/sme_red.png" alt="" width="200" height="100"></span>

<!-- <span class="gap"><img src="../../assets/logo.png" alt=""></span> -->
<span class="filler"></span>
<a routerLink="/"><span class="home">  <mat-icon>home</mat-icon></span></a>
<!-- <span class="home">  <mat-icon>home</mat-icon></span> -->
<span class="gap"><mat-icon class = "notification" matBadge="50" matBadgeColor="warn">notifications</mat-icon>
    
</span>
<span class="gap">logout</span>
<span>Comboni</span>
</mat-toolbar>

<div class="breakbelow"></div>


