<form #form="ngForm" class="register" (ngSubmit)=onSubmit(form)>
        <div *ngIf="registrationStatus" class="alert alert-success statusmessage"> 
                <strong>Congratulations!</strong> Your have successfully registered with sme wallets
              </div> 
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6" id="bgimage">
          
            </div>

            <div class="col-sm-6">
                <div class="majorcontent">
                    <div class="row">
                        <div class="title">
                            <p>ACCOUNT DETAILS</p>
                        </div>
                        <hr class="detail">
                    </div>
                    <div class="row">
                        <div class="subtitle">
                            <p>Tell us something more about you</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="register-title">
                                <p>Register as:</p>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <mat-radio-group name="usertype" ngModel>
                                <mat-radio-button color="primary" size="small" value="supplier">supplier
                                </mat-radio-button>
                                <mat-radio-button color="primary" value="buyer">buyer</mat-radio-button>
                                <mat-radio-button color="primary" value="sponsor">sponsor</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Enter First Name</mat-label>
                                <input matInput placeholder="First Name" name="firstname" [(ngModel)]="firstname"
                                    required #fname="ngModel" [class.ld-error]="form.submitted && fname.invalid">
                            </mat-form-field>

                            <div [hidden]="!form.submitted || fname.valid" class="alert alert-danger">
                                Please Enter firstname
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Enter Last Name</mat-label>
                                <input matInput placeholder="Last Name" name="lastname" [(ngModel)]="lastname" required
                                    #lname="ngModel" [class.ld-error]="form.submitted && lname.invalid">
                            </mat-form-field>
                            <div [hidden]="!form.submitted || lname.valid" class="alert alert-danger">
                                Please Enter lastname
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Enter Your Email Address</mat-label>
                                <input matInput placeholder="email" name="email" [(ngModel)]=email required
                                    #emal="ngModel" [class.ld-error]="form.submitted && emal.invalid">
                            </mat-form-field>
                            <div [hidden]="!form.submitted || emal.valid" class="alert alert-danger">
                                Please Enter a valid email
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Enter your password</mat-label>
                                <input matInput placeholder="Password" name="password" type="password" [(ngModel)]=password required
                                    #pass="ngModel" [class.ld-error]="form.submitted && pass.invalid">
                            </mat-form-field>
                            <div [hidden]="!form.submitted || pass.valid" class="alert alert-danger">
                                Please Enter a valid email
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Retype password</mat-label>
                                <input matInput placeholder="Re-type Password" name="passwordretype" type="password"
                                    [(ngModel)]=passwordretype required #repass="ngModel"
                                    [class.ld-error]="form.submitted && repass.invalid">
                            </mat-form-field>
                            <div [hidden]="!form.submitted || repass.valid" class="alert alert-danger">
                                Please re-type password
                            </div>
                            <div *ngIf="!repassi && form.submitted" class="alert alert-danger">
                                wrong password. please retype password.
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Choose an Industry type you belong to</mat-label>
                                <mat-label class="label">Industry Type</mat-label>
                                <mat-select class="labelinfo" name="industrytype" [(ngModel)]=industrytype required
                                    #ind="ngModel" [class.ld-error]="form.submitted && ind.invalid">

                                    <mat-option *ngFor="let industry of industries" value={{industry}}>
                                        {{industry}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div [hidden]="!form.submitted || ind.valid" class="alert alert-danger">
                                Please choose atleast one industry type
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Select wallet</mat-label>
                                <mat-label class="label">Wallets</mat-label>
                                <mat-select class="labelinfo" name="wallet" [(ngModel)]=wallet required #wal="ngModel"
                                    [class.ld-error]="form.submitted && wal.invalid">

                                    <mat-option *ngFor="let wallet of walets" value={{walets}}>
                                        {{wallet.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div [hidden]="!form.submitted || wal.valid" class="alert alert-danger">
                                Please choose atleast one wallet type
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="phone">
                                <ngx-phone-number-input name="number" ngModel>
                                </ngx-phone-number-input>

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="recapture-image">
                            <app-recapture></app-recapture>
                        </div>
                    </div>
                    <div class="row">
                        <input id="btnregister" class="registers" type="submit" value="Register"
                            class="btn btn-primary btn-block btn-lg" />
                    </div>
                </div>
            </div>
        </div>

    </div>


</form>
 {{form.value| json}}