body{
  background-color: rgb(193, 193, 223);
  padding: 5%;
  height: auto;

}
.container{
  padding: 1%;
  margin-left: 10%;

  background-color: white;
}
h3{
  color: maroon;
margin-left: 40%;
}

.col-sm-6 ul{
  color: blue;
}
h4{
  color: green;
}
hr{
  background-color: black;
}
ul {
  list-style-type: none;
 }

.backbutton{
  padding: 1%;
  border-radius: 10%;
  font-weight: 500;
}
.details{
  color: maroon;
  margin-bottom: 5%;
}
.buyerinfo ul{

  color: green;
}

.buyerinfo{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(232, 232, 255);
}

.orderDate{
  text-align: right;
}
.pdfbutton{
  float: right;
  font-weight: 700;
}
hr{
  border: 2px solid;
  border-radius: 5px;   background-color: black;
}
