<app-header></app-header>
<app-buyernav></app-buyernav>
<!-- <mat-tab-group (selectedTabChange)="letssee()">
    <mat-tab label="Tab 1">Content 1</mat-tab>
    <mat-tab label="Tab 2">Content 2</mat-tab>
  </mat-tab-group> -->

<div class="container">
 
    <mat-tab-group #tabRef>
      <!-- First Tab -->
      <!-- View Approve Invoices -->
      <mat-tab label="Approve Orders">
        <div class="container-fluid">
          <app-approve-orders></app-approve-orders>
        </div>
      </mat-tab>


      <mat-tab label="Create Orders" (click)="test()" >
        <div class="container-fluid">
          <app-create-order id="test-id" >ttttttt...mmmm</app-create-order>
        </div>
      </mat-tab> 

      <mat-tab label="Pending Orders">
        <div class="container-fluid">
          <app-pending-orders></app-pending-orders>
        </div>
      </mat-tab> 

    </mat-tab-group>
  </div>
