<app-header></app-header>
<app-buyernav></app-buyernav>
<div class="container">
    <mat-tab-group #tabRef>
      <!-- First Tab -->
      <!-- View Approve Invoices -->
      <mat-tab label="Approve Orders">
        <div class="container-fluid">
          <app-approve-orders></app-approve-orders>
        </div>
      </mat-tab>


      <mat-tab label="Create Orders">
        <div class="container-fluid">
          <app-create-order></app-create-order>
        </div>
      </mat-tab> 

      <mat-tab label="Pending Orders">
        <div class="container-fluid">
          <app-pending-orders></app-pending-orders>
        </div>
      </mat-tab> 

    </mat-tab-group>
  </div>
