mat-form-field {
  font-size: 14px;
  width: 90%;
}
.container {
  margin: auto;
}

mat-card {
  margin: 40px;
  border: 2px black;
  background-color: rgb(240, 233, 233);
}
#nav {
  position: fixed;
  margin-right: 0%;
  background-color: cornsilk;
  font-size: 120%;
}

