<div class="container">
  <div class="row">
    <div class="col-md-3">
      <nav class="nav flex-column">
        <a class="nav-link" >Personal Info</a>
        <a class="nav-link" >Registered Address</a>
        <a class="nav-link" >Correspodence Address</a
        >
        <a class="nav-link" href="#">Company Info</a>
        <a class="nav-link" href="#">Update Password</a>
        <a class="nav-link" href="#">Update security questions</a>
        <a class="nav-link" href="#">Payment details</a>
        <a class="nav-link" href="#">Quality</a>
        <a class="nav-link" href="#">Bank Details</a>
      </nav>
    </div>
    <div class="col-md-9">
      <mat-card>
       
        <mat-card-title>Personal Info</mat-card-title>
        <mat-card-content>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Emails</mat-label>
              <input matInput />
            </mat-form-field>
            <br />
            <mat-radio-group label="Wallet">
              <mat-radio-button value="Agric">Agric</mat-radio-button>
              <mat-radio-button value="SMe">SME</mat-radio-button>
              <mat-radio-button value="OGas">OGas</mat-radio-button>
            </mat-radio-group>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
       
        <mat-card-title>Registered Address</mat-card-title>
        <mat-card-content>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Contact</mat-label>
              <input matInput />
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
              <mat-label>City</mat-label>
              <input matInput />
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
              <mat-label>State</mat-label>
              <input matInput />
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
              <mat-label>Country</mat-label>
              <input matInput />
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
              <mat-label>Zip Code</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <a href="#Correspodence Address">Correspodence Address</a>
        <mat-card-title>Correspodence Address</mat-card-title>
        <mat-card-content>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Contact</mat-label>
              <input matInput />
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
              <mat-label>City</mat-label>
              <input matInput />
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
              <mat-label>State</mat-label>
              <input matInput />
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
              <mat-label>Country</mat-label>
              <input matInput />
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
              <mat-label>Zip Code</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>
          Company Information
        </mat-card-title>

        <mat-card-content>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Company Name</mat-label>
              <input matInput />
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
              <mat-label>Company Representative Name</mat-label>
              <input matInput />
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
              <mat-label>Company Email</mat-label>
              <input matInput />
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
              <mat-label>CRB/BUNS Number</mat-label>
              <input matInput />
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
              <mat-label>Company Address</mat-label>
              <input matInput />
            </mat-form-field>
            <br />
            <button mat-raised-button color="primary">Update</button>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-title>
          Update Password
        </mat-card-title>
        <mat-card-content>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Current Email</mat-label>
              <input matInput />
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
              <mat-label>New Password</mat-label>
              <input matInput />
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input matInput />
            </mat-form-field>
            <br />
            <button mat-raised-button color="primary">Update</button>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-title>
          Update Security Questions
        </mat-card-title>

        <mat-card-content>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>
                In what city or town did your mother and father meet?
              </mat-label>

              <input matInput />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>In what town was your first job?</mat-label>
              <input matInput />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label
                >What was the name of the company where you had your first job?
              </mat-label>
              <input matInput />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>What was your favorite food as a child?</mat-label>
              <input matInput />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label
                >What is the name of your favorite childhood friend?</mat-label
              >
              <input matInput />
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-title>Payment Details</mat-card-title>
        <mat-card-content>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Order Currency</mat-label>
              <input matInput />
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
              <mat-label>IncoTerms</mat-label>
              <input matInput />
            </mat-form-field>
            <br />
            <mat-radio-group>
              <mat-radio-button value="Agric"
                >Telegraphic Transfer</mat-radio-button
              >
              <mat-radio-button value="SMe"
                >Cheque Credit Period</mat-radio-button
              >
            </mat-radio-group>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-title>Quality</mat-card-title>
        <mat-card-content>
          <div class="container">
            <mat-radio-group label="Wallet">
              <label label>Is your company ISO 9001 certified?</label>
              <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No">No</mat-radio-button>
              <br />
            </mat-radio-group>
            <mat-label>
              If your company is not ISO 9001 certified,<br />
              what other quality assurance program/process is in place in your
              company?
            </mat-label>
            <mat-form-field appearance="outline">
              <textarea matInput></textarea>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-title>Bank Details</mat-card-title>
        <mat-card-content>
            <div class="container">
                <mat-form-field appearance = "outline">
                  <mat-label>Bank Name</mat-label>
                  <input matInput  />
                </mat-form-field>
                <br />
                <mat-form-field appearance = "outline">
                  <mat-label>Branch</mat-label>
                  <input matInput  />
                </mat-form-field>
                <br />
                <mat-form-field appearance = "outline">
                  <mat-label>Swift Code</mat-label>
                  <input matInput  />
                </mat-form-field>
                <br />
                <mat-form-field appearance = "outline">
                  <mat-label>Bank Code</mat-label>
                  <input matInput  />
                </mat-form-field>
                <br />
                <mat-form-field appearance = "outline">
                  <mat-label>Beneficiary's Name</mat-label>
                  <input matInput  />
                </mat-form-field>
                <br />
                <mat-form-field appearance = "outline">
                  <mat-label>Account Number</mat-label>
                  <input matInput  />
                </mat-form-field>
                <br />
                <button mat-raised-button color="primary">Update</button>
              </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
