<!-- i have commented it out because it creates a default header hence making two headers -->

<!-- <mat-toolbar color="primary" class="navbar">
  <div>SME Wallet</div>
  <div>
    <span><a routerLink="/sponsor-invoices">Sponsor Invoices</a> </span>
    <span><a routerLink="/sponsor-vault">Sponsor Vault</a> </span>
  </div>
</mat-toolbar> -->

<router-outlet></router-outlet>
<!-- <app-bargraph></app-bargraph> -->
<!-- <app-piechart></app-piechart> -->

<!-- <div class="components"> -->
<!-- <div class="row">
    <div class="col-xl-3 col-lg-6">
      1 -->
<!-- <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="100" [label]="'New Comments!'" ></app-stat> -->
<!-- </div>
    <div class="col-xl-3 col-lg-6">
      2 -->
<!-- <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'New task!'" ></app-stat> -->
<!-- </div>
    <div class="col-xl-3 col-lg-6">
      3 -->
<!-- <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Orders!'" ></app-stat> -->
<!-- </div>
    <div class="col-xl-3 col-lg-6">
      4 -->
<!-- <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'New Tickets!'"></app-stat> -->
<!-- </div>
</div>
</div> -->
<!-- <div class="container">
  <div class="row">
      <div class="col-xl-3">
        <div class="card text-white">
          <div class="card-header">
            buyers
          </div>

        </div>
      </div>

  </div>
</div> -->
<!-- <div class="card text-white">
  <div class="card-header">
    <div class="row">
      <div class="col col-xs-3">
        gfgfhfh
        <!-- <i class="fa {{icon}} fa-5x"></i> -->
      <!-- </div>
      <div class="col col-xs-9 text-right">
        <div class="d-block huge">count</div>
        <div class="d-block">label</div>
        gfhgfhg
      </div>
    </div>
  </div>
  <div class="card-footer">
    <span class="float-left">View Detaifdfgls</span>
    <a href="javascript:void(0)" class="float-right card-inverse">
      <span><i class="fa fa-arrow-circle-right"></i></span>
    </a>
  </div>
</div> --> 
