<!-- i have commented it out because it creates a default header hence making two headers -->

<!-- <mat-toolbar color="primary" class="navbar">
  <div>SME Wallet</div>
  <div>
    <span
      ><a routerLink="/supplier-purchase-orders">Supplier Purchase Order</a>
    </span>
    <span><a routerLink="/supplier-vault">Vault</a></span> -->
    <!-- <span><a routerLink="/sponsor-invoices">Sponsor Invoices</a></span>
    <span><a routerLink="/all-orders"> All Orders</a></span>
    <span><a routerLink="/invoices"> Invoices</a></span>
    <span><a routerLink="/invite">Invites</a></span>
    <span><a routerLink="/vault">Vault</a></span>  -->
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
