
mdb-navbar{
position: fixed;
z-index: 2;
min-width: 100%;
margin-top: 3.5%;

font-size: 120%;
font-weight: 500;
color: white;

}
.active {
   background-color: rgb(208, 208, 235);
   color: white;
 }

.filler {
   flex: 1 1 auto;
}
.gap {
   margin-right: 2%;
}

.head{
   height: auto;
   background-color: blue;
   color: white;
}

.head img{
   padding-bottom: 3%;
   padding-top: 3%;
}
.home{
  margin-right: 2%;
}
mat-icon{
  color: white;
  margin-right: 10%;
}
.navbar-brand{
font-family: 'Eczar', serif;
font-weight: 200%;
color: rgb(145, 28, 28);
}
.navbar{
position: fixed;
z-index: 2;
width: 100%;
margin-top: 3.7%;
}
a{
   font-weight: 500;
}
.nav-item a:hover{
background-color: blue;
color: white;
}
.extras{
    display: none;
}

@media screen and (max-width: 989px) {

   .navbar{
      margin-top: 0;
   }
   .navbar-nav{
       background-color: rgb(181, 235, 235);
   }
   .extras{
       display: flex;
       justify-content: flex-start;

   }
   .nav-item a:hover{
       background-color: blue;
        }
 }