/* email tab */
.mat-card {
  width: 600px;
  margin: auto;
}

.mat-card .full-width {
  width: 100%;
}

/* tabs */
.mat-tab-group {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.mat-tab-label {
  font-size: 18px;
}

/* supplier and contacts tab */
table {
  width: 100%;
}

mat-header-cell {
  background-color: rebeccapurple;
  color: beige;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  padding-top: 15%;
}

.searchBox {
  margin-left: 900px;
}

@media screen and (max-width: 989px) {
  .container {
    padding-top: 35%;
  }
}
