<app-header></app-header>
<app-suppliernav></app-suppliernav>
<div class="spacer"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="card bg-success text-white text-center">
        <div class="card-header">
          <h3>New Orders</h3></div>
        <div class="card-body" class="container">
          <div class="row">
            <div class="col-sm-8">
                <i class="fas fa-cart-arrow-down fa-5x"></i>
            </div>
            <div class="col-sm-4">
              <p>incoming orders</p>
              <p>5</p>
            </div>
          </div>

          <!-- <a href="#" class="card-link">Card link</a> -->
        </div>
        <!-- <div class="card-footer">Footer</div> -->
      </div>
    </div>

      <div class="col-sm-3">
          <div class="card bg-info text-white text-center">
            <div class="card-header">
              <h3>Invoiced Orders</h3></div>
            <div class="card-body" class="container">
              <div class="row">
                <div class="col-sm-7">
                    <i class="fas fa-cart-arrow-down fa-5x"></i>
                </div>
                <div class="col-sm-5">
                  <p>total invoiced orders</p>
                  <p>51</p>
                </div>
              </div>
    
              <!-- <a href="#" class="card-link">Card link</a> -->
            </div>
            <!-- <div class="card-footer">Footer</div> -->
          </div>
        </div>

      <div class="col-sm-3">
          <div class="card bg-danger text-white text-center">
            <div class="card-header">
              <h3> Total Orders</h3></div>
            <div class="card-body" class="container">
              <div class="row">
                <div class="col-sm-8">
                    <i class="fas fa-shopping-cart fa-5x"></i>
                </div>
                <div class="col-sm-4">
                  <p>Total Orders</p>
                  <p>16</p>
                </div>
              </div>
    
              <!-- <a href="#" class="card-link">Card link</a> -->
            </div>
            <!-- <div class="card-footer">Footer</div> -->
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card bg-success text-white text-center">
            <div class="card-header">
              <h3> Total Earnings</h3></div>
            <div class="card-body" class="container">
              <div class="row">
                <div class="col-sm-8">
                    <i class="fas fa-shopping-cart fa-5x"></i>
                </div>
                <div class="col-sm-4">
                  <p>Total Earnings</p>
                  <p>16</p>
                </div>
              </div>
    
              <!-- <a href="#" class="card-link">Card link</a> -->
            </div>
            <!-- <div class="card-footer">Footer</div> -->
          </div>
        </div>

    
  </div>
  <div class="row">
      <div class="col-sm-4">       
          <app-my-bar-chart></app-my-bar-chart> Current Orders
      </div>
      <div class="col-sm-4">       
          <app-my-doughnut-chart></app-my-doughnut-chart>
      </div>

      <div class="col-sm-4">       
          <app-my-pie-chart></app-my-pie-chart>
      </div>


