.container {
    margin: auto;
    padding-top: 70px;
  }
  
  img {
    height: 50px;
    width: 50px;
  }
  
  li {
    list-style: none;
    font-weight: bold;
    font-size: 16px;
  }
  
  table {
    margin: 70px 0;
    width: 100%;
  }
  
  table,
  th,
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    padding: 15px;
  }
  
  tr:nth-child(1) {
    background-color: #dddddd;
  }
  
  input {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 35px;
  }
  
  .btns {
    float: right;
  }
  
  .btn {
    height: 45px;
    width: 120px;
    margin-bottom: 10%;
  }
  
  #btn1 {
    margin-right: 30px;
  }
  