<!--Navbar-->
<!-- <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan" [containerInside]="false"> -->

  <!-- Navbar brand -->
  <!-- <mdb-navbar-brand><a class="navbar-brand" href="#"><img src="https://m1.smewallets.com/home/images/logo.png" alt=""
        title=""></a></mdb-navbar-brand> -->

  <!-- Collapsible content -->
  <!-- <links> -->

    <!-- Links -->
    <!-- <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a routerLink="/home" class="nav-link waves-light" mdbWavesEffect> -->
          <!-- <mdb-icon fas icon="home"></mdb-icon> Home<span class="sr-only">(current)</span> -->
        <!-- </a>
      </li>
      <li class="nav-item active">
          <a routerLink="/home" class="nav-link waves-light" mdbWavesEffect>
            Home -->
            <!-- <mdb-icon fas icon="home"></mdb-icon> Home<span class="sr-only">(current)</span> -->
          <!-- </a>
        </li>
  
      <li class="nav-item">
          <a routerLink="/register" class="nav-link waves-light" mdbWavesEffect>
            Register -->
            <!-- <mdb-icon fas icon="home"></mdb-icon> Home<span class="sr-only">(current)</span> -->
          <!-- </a>
        </li> -->
        <!-- <li class="nav-item">
            <a routerLink="/login" class="nav-link waves-light" mdbWavesEffect>
              Login -->
              <!-- <mdb-icon fas icon="home"></mdb-icon> Home<span class="sr-only">(current)</span> -->
            <!-- </a>
          </li> -->


      <!-- Dropdown -->
      <!-- <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light profilename" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> <span class = "profilename">{{currentUser}}</span>
           <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
        </div>
      </li> -->

    <!-- </ul> -->
    <!-- Links -->
  <!-- </links> -->
  <!-- Collapsible content -->

<!-- </mdb-navbar>
<img src="../../../assets/body11.png" alt="">
<img src="../../../assets/body12.png" alt="">
<img src="../../../assets/body13.png" alt="">
<img src="../../../assets/body14.png" alt="">
<img src="../../../assets/body7.png" alt="">
<img src="../../../assets/body9.png" alt="">
<img src="../../../assets/body10.png" alt=""> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8"><h1> SME WALLETS</h1></div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-info"><a routerLink="/register">REGISTER</a>
      </button>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-info"><a routerLink="/login">LOGIN</a>
      </button>
    </div>
  </div>
  <div class = "spacer"></div>
  <div class="row">
      <div class="col-sm-3">
      
    <button type="button" class="btn btn-info"> <a routerLink="/home/buyer/buyerdashboard">BUYER</a> </button>
  </div>
  <div class="col-sm-3">
    <button type="button" class="btn btn-info"><a routerLink="/home/supplier/supplierdashboard">SUPPLIERS</a> </button>
  </div>  

  <div class="col-sm-3">
    <button type="button" class="btn btn-info"><a routerLink="/home/wallets">WALLETS</a> </button>
  </div>
  <div class="col-sm-3">
    <button type="button" class="btn btn-info"><a routerLink="/home/sponsor/sponsordashboard">SPONSOR</a></button>
    </div>
  </div>
</div>


