<mat-toolbar color="primary" class="navbar">
  <div>SME Wallet</div>
  <div>
        <button type="button" class="btn btn-info"><a routerLink="/register">REGISTER</a>  </button>
        <button type="button" class="btn btn-info"><a routerLink="/login">LOGIN</a> </button>
  </div>
</mat-toolbar>
<button type="button" class="btn btn-info"> <a routerLink="buyer/buyerdashboard">BUYER</a> </button>
<button type="button" class="btn btn-info"><a routerLink="supplier/supplierdashboard">SUPPLIERS</a> </button>
<button type="button" class="btn btn-info"><a routerLink="sponsor/sponsordashboard">SPONSOR</a></button>
