<div class="container-fluid">
  <div class="row">
    <mat-toolbar color="primary" class="navbar">
        <div class="col-sm-8">
          <h1>SME WALLETS</h1>
      <!-- <div class="row"> -->
        <!-- <div class="col-sm-8">
          <div>SME Wallet</div>
        </div> -->
        <!-- <div class="col-sm-4">
          <div> -->
          <!-- <button type="button" class="btn btn-info"><a routerLink="/register">REGISTER</a> </button>
          <button type="button" class="btn btn-info"><a routerLink="/login">LOGIN</a> </button> --> 
          <!-- </div> -->
        <!-- </div> -->
      </div>
      <div class="col-sm-4">
         <button type="button" class="btn btn-info"><a routerLink="/register">REGISTER</a> </button>
          <button type="button" class="btn btn-info"><a routerLink="/login">LOGIN</a> </button> 
      </div>
    </mat-toolbar>
  </div>
  <div class="row">
    <button type="button" class="btn btn-info"> <a routerLink="buyer/buyerdashboard">BUYER</a> </button>
    <button type="button" class="btn btn-info"><a routerLink="supplier/supplierdashboard">SUPPLIERS</a> </button>
    <button type="button" class="btn btn-info"><a routerLink="sponsor/sponsordashboard">SPONSOR</a></button>
  </div>
</div>