
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-primary bg-info" [containerInside]="false">

    <div class="sizing">
        <links>

            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item active">
                        
                    <a routerLink="/sponsor/account-settings" class="nav-link waves-light" mdbWavesEffect>Account
                        Settings<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a routerLink="/sponsor/invoices" class="nav-link waves-light" mdbWavesEffect>Invoices</a>
                </li>

                <li class="nav-item">
                    <a routerLink="/sponsor/vault" class="nav-link waves-light" mdbWavesEffect>Vault</a>
                </li>


            </ul>
            <!-- Links -->
        </links>
    </div>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->