<div class="container">
  <mat-form-field>
    <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search" />
  </mat-form-field>

  <li class="nav-item">
    <a routerLink="/supplier/supplier-purchase-orders/supplier-view-orders" class="nav-link waves-light"
      mdbWavesEffect>View Orders</a>
  </li>

  <div class="mat-elevation-z8">
    <mat-table [dataSource]="supplierApprovedInvoicesTableDataSource" matSort>
      <!-- Order Number Column -->


      <ng-container matColumnDef="invoiceNo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Invoice No.</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.orderNo }}</mat-cell>
      </ng-container>

      <!-- Order Date Column -->
      <ng-container matColumnDef="invoiceDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.orderDate }}</mat-cell>
      </ng-container>

      <!-- Order Due Date Column -->
      <ng-container matColumnDef="invoiceDueDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Due Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.orderDueDate
        }}</mat-cell>
      </ng-container>

      <!-- Sender Name Column -->
      <ng-container matColumnDef="senderName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Customer Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.senderName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="invoiceTotal">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Total</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.invoiceTotal }}</mat-cell>
      </ng-container>

      <!-- Order Status Column -->
      <ng-container matColumnDef="invoiceStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Status</mat-header-cell>
        <mat-cell *matCellDef="let element" id="status">{{ element.invoiceStatus }}</mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
        <mat-cell *matCellDef="let element">


          <button class="btn-primary btn-sm" id="{{element.action}}" (click)="handleViewOrderClick($event)">
            {{ element.buttonString }}</button>


        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>